/* BASE COLORS */
/* SCSS */
html {
  height: 100%;
  min-height: 100vmin; }

body {
  height: 100%;
  min-height: 100vmin;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/bg/grass.jpg");
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden; }

a, i {
  transition: all 0.15s ease-in-out; }

#top-navigation {
  position: sticky; }
  #top-navigation ul {
    padding: 0;
    margin: 0; }
    #top-navigation ul li {
      list-style: none; }
      #top-navigation ul li a {
        font-size: 3em;
        color: #fff;
        width: 100%;
        height: 100%; }
      #top-navigation ul li a:hover {
        color: #333; }

#left-panel {
  width: 100%;
  max-width: 450px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -450px;
  transition: 0.5s;
  overflow-x: hidden;
  background: linear-gradient(315deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15); }
  #left-panel #nav-closing {
    width: 100%;
    margin: 0; }
    #left-panel #nav-closing a {
      width: 100%;
      height: 100%;
      display: block;
      padding: 10px;
      text-align: right;
      color: #c83c31;
      text-decoration: none;
      font-size: 1.5em; }
      #left-panel #nav-closing a i {
        width: 1.25em;
        height: 1.25em;
        background: #fff;
        border-radius: 50% 50%;
        display: inline-block;
        vertical-align: -.34em;
        margin-left: .5em;
        color: #c83c31; }
      #left-panel #nav-closing a i::before {
        display: inline-block;
        font-size: 1.5em;
        transform: translate(-7%, -7%); }
    #left-panel #nav-closing a:hover {
      background: #c83c31;
      color: #fff; }
      #left-panel #nav-closing a:hover i {
        background: #c83c31;
        color: #fff; }
  #left-panel ul {
    padding: 0;
    margin: 0; }
    #left-panel ul li {
      list-style: none;
      width: 100%;
      margin: 0; }
    #left-panel ul a {
      width: 100%;
      height: 100%;
      padding: 10px .75em;
      font-size: 2.75em;
      color: #fff;
      display: inline-block; }
      #left-panel ul a i {
        width: 1.25em;
        height: 1.25em;
        background: #fff;
        border-radius: 50% 50%;
        display: inline-block;
        vertical-align: -.25em;
        margin-right: .5em; }
      #left-panel ul a i::before {
        position: absolute;
        display: inline-block;
        font-size: 0.7em;
        transform: translate(37.5%, 37.5%); }
    #left-panel ul #nav-about {
      background: #2696d7; }
      #left-panel ul #nav-about i {
        color: #2696d7; }
    #left-panel ul #nav-about:hover {
      background: #fff;
      color: #2696d7; }
      #left-panel ul #nav-about:hover i {
        background: #2696d7;
        color: #fff; }
    #left-panel ul #nav-skills {
      background: #293b8b; }
      #left-panel ul #nav-skills i {
        color: #293b8b; }
    #left-panel ul #nav-skills:hover {
      background: #fff;
      color: #293b8b; }
      #left-panel ul #nav-skills:hover i {
        background: #293b8b;
        color: #fff; }
    #left-panel ul #nav-projects {
      background: #00af65; }
      #left-panel ul #nav-projects i {
        color: #00af65; }
    #left-panel ul #nav-projects:hover {
      background: #fff;
      color: #00af65; }
      #left-panel ul #nav-projects:hover i {
        background: #00af65;
        color: #fff; }
    #left-panel ul #nav-contact {
      background: #ee9e33; }
      #left-panel ul #nav-contact i {
        color: #ee9e33; }
    #left-panel ul #nav-contact:hover {
      background: #fff;
      color: #ee9e33; }
      #left-panel ul #nav-contact:hover i {
        background: #ee9e33;
        color: #fff; }

/* TYPEWRITING */
.typewriter {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.animated-text {
  display: block;
  overflow: hidden;
  animation: typing 2s;
  font-weight: 700;
  box-sizing: border-box;
  white-space: normal;
  color: #fff; }

#firstname {
  font-size: 5rem;
  animation: typing 2s; }

#about-me {
  font-size: 2.5rem;
  animation: typing 3s; }

/* ANIMATIONS */
@keyframes typing {
  from {
    opacity: 0;
    width: 0%; }
  50% {
    opacity: 1; }
  to {
    width: 100%; } }
/* RESPONSIVE */
@media (min-width: 992px) {
  #top-navigation {
    display: none; }

  #left-panel {
    left: 0; }
    #left-panel #nav-closing {
      display: none; }

  #home {
    width: calc(100% - 450px);
    height: 100%;
    position: absolute;
    right: 0; }

  @keyframes typing {
    from {
      opacity: 0;
      width: 0%;
      white-space: nowrap; }
    50% {
      opacity: 1; }
    99% {
      width: 101%;
      white-space: nowrap; }
    to {
      width: 100%;
      white-space: normal; } } }
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  #left-panel {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px); } }
/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #left-panel {
    background-color: rgba(255, 255, 255, 0.8); } }

/*# sourceMappingURL=main.css.map */
